<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<  <ion-view view-title="{{show.name}}">
    <ion-content class="padding">
      <div class="list card">
        <div class="item">
          <h2>{{show.name}}</h2>
          <p>{{show.date}}</p>
        </div>

        <div class="item item-body">
          <img class="full-image" ng-src="{{show.image}}">
          <p>
            {{show.description}}
          </p>
        </div>
        <button class="button button-block button-positive">
          Réserver pour {{show.price}}€
        </button>
      </div>
    </ion-content>
  </ion-view>